@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Libre+Franklin|Shrikhand");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes fade-in-day {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.Input {
  box-sizing: border-box;
  opacity: .95;
  font-family: Libre Franklin;
  font-size: 1.6rem;
  margin: auto;
  margin-top: 0;
  max-width: 74rem;
  min-width: 29rem;
  min-height: 43.5rem;
  padding-bottom: 2.5rem;
  padding-top: 0rem;
  position: relative;
  width: 70%;
  z-index: 0; }
  @media only screen and (max-width: 75em) {
    .Input {
      font-size: 1.6rem;
      min-height: 42.2rem; } }
  @media only screen and (max-width: 56.25em) {
    .Input {
      font-size: 1.6rem;
      min-height: 43.2rem; } }
  @media only screen and (max-width: 37.5em) {
    .Input {
      font-size: 1.2rem;
      min-height: 37.7rem; } }
  .Input__tabs {
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: -0.7rem;
    position: relative;
    text-align: center;
    z-index: 1; }
    .Input__tabs-radio {
      display: none; }
    .Input__tabs-label {
      background-color: rgba(241, 236, 231, 0.8);
      border: solid 0.1rem #00000050;
      border-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
      border: 0.1rem solid transparent;
      border-bottom: none;
      border-top: none;
      bottom: -0.4rem;
      color: #707070;
      cursor: pointer;
      display: inline-block;
      font-size: 1.4rem;
      list-style: none;
      margin-left: .1rem;
      padding: 0.9rem 0;
      position: relative;
      transition: all 100ms ease-in;
      transition: color 0.3s;
      width: 23.5%;
      z-index: 0; }
      .Input__tabs-label:hover {
        background-color: rgba(241, 236, 231, 0.95);
        color: #000; }
      .Input__tabs-label:focus {
        border-color: #0188fe;
        box-shadow: 0 0 5px #0188fe;
        outline: none; }
        .Input__tabs-label:focus:after {
          background: #fff;
          bottom: -5px;
          content: "";
          height: 5px;
          left: -4px;
          right: -4px;
          position: absolute; }
  .Input__panels {
    background-color: #f1ece7;
    border: solid 0.1rem #00000030;
    border-radius: 1rem;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 1.4rem 4rem 4rem 4rem;
    position: relative;
    transition: 0.4s ease-in-out;
    z-index: 2; }
    @media only screen and (max-width: 75em) {
      .Input__panels {
        padding: 1.05rem 3rem 3rem 3rem; } }
    @media only screen and (max-width: 56.25em) {
      .Input__panels {
        padding: 0.87rem 2.5rem 2.5rem 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .Input__panels {
        padding: 0.7rem 2rem 2rem 2rem; } }
    .Input__panels:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

#toggle-tab1:checked ~ label[for="toggle-tab1"],
#toggle-tab2:checked ~ label[for="toggle-tab2"],
#toggle-tab3:checked ~ label[for="toggle-tab3"],
#toggle-tab4:checked ~ label[for="toggle-tab4"] {
  background: #f1ece7;
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: black;
  cursor: default;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 18px;
  position: relative;
  transform: translateY(-0.3rem);
  z-index: 1; }

.inputLabel {
  display: block;
  padding: 0.5rem 0; }

.fade-in {
  animation: fade-in-day 400ms ease-in-out; }
