@import "../../sass/main.scss";
.outputBlock {
  @include insetPanel;
  background-color: $inset-background-color;
  margin-top: 2rem;
  padding: 0.1rem 2rem;
  &__moneyValue {
    color: #893726;
  }
}
