@import "../../sass/main.scss";
.GrossTips {
  margin-bottom: -3rem;
  @include respond(tab-land) {
    margin-bottom: -3rem;
  }
  @include respond(tab-port) {
    margin-bottom: -2.5rem;
  }
  @include respond(phone) {
    margin-bottom: -1.2rem;
  }
  &__grossInput {
    @include insetPanel;
    background-color: $inset-background-color;
    box-sizing: border-box;
    width: 100%;
    
    position: relative;
    display: inline-block;
    padding: 1.7rem 7px;
    height: 3.4rem;
    @include respond(tab-land) {
      height: 3.4rem;
      padding: 1.7rem 7px;
    }
    @include respond(tab-port) {
      height: 3rem;
      padding: 1.5rem 7px;
    }
    @include respond(phone) {
      height: 2.8rem;
      padding: 4px 7px;
    }
    height: 2.8rem;
    cursor: text;
    line-height: 1.5;
    color: #000;

    transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
      background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
      box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    &-preInput {
      transform: translate(0, -1.1rem);
      @include respond(tab-land) {
        transform: translate(0, -1.1rem);
      }
      @include respond(tab-port) {
        transform: translate(0, -1.1rem);
      }
      @include respond(phone) {
        transform: translate(0, 0.16rem);
      }
      &-moneyGlyph {
        transform: translate(0, -0.1rem);
        color: #35632c;

        @include respond(tab-land) {
          transform: translate(0, -.1rem);
        }
        @include respond(tab-port) {
          transform: translate(0, 0rem);
        }
        @include respond(phone) {
          transform: translate(0, 0rem);
        }
      }
    }

    &-input {
      box-sizing: border-box;
      display: inline-block;
      background-color: $inset-background-color;
      height: 2.4rem;
      width: calc(100% - 4rem);
      border: 0;
      // font-family: Roboto;
      transform: translate(3.5rem, -3.6rem);
      @include respond(tab-land) {
        transform: translate(3.5rem, -3.6rem);
      }
      @include respond(tab-port) {
        transform: translate(3.5rem, -3.6rem);
      }
      @include respond(phone) {
        transform: translate(2.7rem, -2rem);
      }
      // font-size: 1.2rem;
    }
  }
}
