@import '../../sass/main.scss';
.Day {
  &__description {
    text-align: left;
  }
  & hr {
    color: #00000020;
  }
  &__patioBlock {
    margin-bottom: -1.2rem;
    &-label {
      display: inline-block;
      padding-left: 1rem;
      transform: translateY(0.2rem);
    }
    &-styledCheck {
      display: inline-block;
      margin: 1rem 0;
      position: relative;
      width: 20px;
      &-visibleBox {
        cursor: pointer;
        height: 20px;
        background: linear-gradient(hsl(240, 22%, 96%) 0%, hsl(240, 22%, 90%) 100%);
        border-radius: 4px;
        box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
        left: 0;
        position: absolute;
        top: 0;
        width: 20px;
        &:after {
          border: 3px solid #333;
          border-top: none;
          border-right: none;
          background: transparent;
          content: "";
          height: 5px;
          left: 4px;
          opacity: 0;
          position: absolute;
          top: 4px;
          transform: rotate(-45deg);
          width: 9px;
        }
        &:hover::after {
          opacity: 0.5;
        }
      }
      &-invisibleBox {
        visibility: hidden;
        &:checked + label:after {
          opacity: 1;
        }
      }
    }
  }
}