/* .styledCheck */
.styledCheck {
  width: 20px;
  position: relative;
  margin: 1rem 0;
  display: inline-block; }
  .styledCheck label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(white 0%, #f2f2f2 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); }
    .styledCheck label:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg); }
    .styledCheck label:hover::after {
      opacity: 0.5; }
  .styledCheck input[type=checkbox] {
    visibility: hidden; }
    .styledCheck input[type=checkbox]:checked + label:after {
      opacity: 1; }

/* end .styledCheck */
.label {
  display: inline-block;
  padding-left: 1rem;
  transform: translateY(0.2rem); }
