@import "../../sass/main.scss";
.Footer {
  background-color: #333333;
  box-sizing: border-box;
  clip-path: polygon(0% 0%, 50% 10%, 100% 0%, 100% 100%, 0% 100%);
  color: $footer-text-color;
  font-family: Josefin Sans;
  padding: 3rem 0;
  @include respond(phone) {
    clip-path: polygon(0% 0%, 50% 5%, 100% 0%, 100% 100%, 0% 100%);
  }
  &__flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  & a {
    color: $footer-text-color;
    text-decoration: none;
  }
  &__cols {
    box-sizing: border-box;
    padding: 0 1.5rem;
    font-size: 1.2rem;
    width: 35rem;
    @include respond(tab-land) {
      padding: 0rem 3rem;
      width: 35rem;
    }
    @include respond(tab-port) {
      padding: 0rem 3rem;
      width: 29rem;
    }
    @include respond(phone) {
      width: 41.9rem;
    }
  }
  &__left {
    border-right: 1px rgb(95, 95, 95) solid;
    text-align: justify;
    text-indent: 2%;
    @include respond(phone) {
      border: 0;
      border-bottom: 1px rgb(95, 95, 95) solid;
    }
  }
  &__right {
    text-align: left;
    @include respond(phone) {
      border-bottom: 1px rgb(95, 95, 95) solid;
      font-size: 1.4rem;
    }
  }
  &__list {
    @include respond(tab-land) {
      margin-top: 1rem;
    }
    @include respond(tab-port) {
      margin-top: 1.6rem;
    }
    @include respond(phone) {
      margin: 1.6rem auto;
    }
    list-style: none;
    padding: 0;
    width: 18.5rem;
    & li {
      margin: 0.2rem 0;
    }
  }
  &__logobox {
    height: 5rem;
    @include respond(tab-port) {
      height: 8rem;
    }
    @include respond(tab-port) {
      height: 8rem;
    }
    @include respond(phone) {
      height: 8rem;
    }
    animation: Gradient 10s ease infinite;
    background: linear-gradient(270deg, #4c49b2, #db4eb2, #fbfc79, #0eb7e1);
    background-size: 800% 800%;
    backface-visibility: hidden;
    margin: 1.6rem 0 1rem 0;
    mask: url(../../assets/img/spatulas.png);
    mask-position: bottom center;
    mask-repeat: no-repeat;
    mask-size: contain;
    padding: 0;
  }
}
